<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivanmagda.habito">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".application.HabitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="supportsRtl">
        <activity
            android:name=".activities.HabitListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditHabitActivity"
            android:parentActivityName=".activities.HabitListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HabitListActivity" />
        </activity>
        <activity
            android:name=".activities.DetailHabitActivity"
            android:label="@string/activity_detail_label"
            android:parentActivityName=".activities.HabitListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HabitListActivity" />
        </activity>

        <receiver
            android:name=".receivers.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".sync.ReminderIntentService"
            android:exported="true" />

        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:enabled="true"
            android:label="@string/title_widget_detail">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.ivanmagda.habito.DATA_FETCHED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />
        </receiver>

        <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".sync.WidgetFetchService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>